*{
  margin: 0px auto;
  position: relative;
}
body{
  background-color: #efefef;
  font-size: 62.5%;
  font-family: 'Raleway';
}
.Banner h1{
  font-size: 5.7em;
  color: #efefef;
}
h1{
  margin-left: 20px;

  font-size:4em;
  font-family: 'Cuprum';
}
p{
  font-size:2em;
}
#Logo{
  position: absolute;
  display: block;
  top:0px;
  left:25px;
  //left: calc(50% - 255px);
}
#Title{
  text-align: center;
}
.Banner{
  background-color: Firebrick;
  padding: 5px 0px 0px 0px;

  z-index: -3;
}
.Links{
  margin-left: 35px;

  line-height: 30px;
  font-size: 1.5em;

  position: absolute;
  text-align: left;
}
.Links a{
  color: #efefef;

  margin-left: 10px;
  margin-right: 20px;
}
.Links img{
  position: absolute;
  left: -20px;
}
#SMIMG{
  margin-top: -10px;

  position: absolute;
  text-align: left;

  left: 15px;
  top: 25px;
}
#SMLINKS{
  margin-top: 5px;

  position: absolute;
  text-align: left;
}
.LinksIMG{
  line-height: 30px;
  font-size: 1.5em;
}

.Navigation{
  color: #efefef;
  background-color: Firebrick;
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;

  z-index: 2;
}
.Navigation button{
  font-family: 'Raleway';
  font-size: 1.6em;
  color: #efefef;
  background-color: DarkRed;

  width: calc(20% - 3px);
  padding: 10px 0px 7px 0px;
  margin: 0px auto;
  border: none;

  border-radius: 2px;

}
.Navigation button:hover{
  background-color: IndianRed;
}
.Newsbar{
  font-family: Cuprum;
  font-size: 0.8em;
  padding: 5px 0px 3px 0px;
  background-color: #efefef;
  box-shadow: 0px 7px 30px black;
  text-align: center;

  z-index: 1
}
.Wrapper{
  background-color: #efefef;
  width: 1200px;
  height:500px;

  z-index: 0;
}
.MainIMG{
  margin-left: 0px auto;
  margin-right: 0px auto;
  display:block;

  z-index: 0;
}
.MainIMG h2{
  margin: 0px auto;
  position: absolute;

  bottom:30px;
  left:30px;

  font-size: 4vw;
  font-family: 'Cuprum';
  color: #efefef;
}
.MIMG{
  filter: contrast(90%) brightness(60%);
  width: 100%;
}
#Quotes{

}
main{
  margin-top: 10px;
  width:900px;
  float:left;
}
aside{
  width:300px;
  float:right;
}
.Footer{
  background-color: Firebrick;
}
.End{
  color: #efefef;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: DarkRed;
}
